*.class

#vsc
.metals/
# Package Files #
*.jar
*.war
*.ear
# output dir
build/
logs/
dist/
target/
mods/
project/project/
project/target/
#gradle
gradle/
gradlew
gradlew.bat
#haskell
.cabal-sandbox/
.stack-work/
#ensime
.ensime
.ensime_cache
#JS
node_modules/
bower_components/
spm_modules
#Eclipse
.gradle/
.settings/
.classpath
.project
.nb-gradle-properties
*.xmi
#Intellij IDEA
.idea/
*.iml
*.ipr
*.iws
#Netbeans
nbproject/
#Golang
bin/
pkg/
#ensime
.ensime
.ensime_cache/
TAGS
GPATH
GRTAGS
GTAGS
/scala/finatra-demo/*.output_IS_UNDEFINED
/scala/finatra-demo/*.0

#haskell
.stack-work
/java/demo-jersey/.nb-gradle/

#CMake
CMakeFiles/